name: Test Node.js
on:
  push:
    branches: "main"
    paths-ignore:
      - .gitignore
      - LICENSE
      - README.md
      - "!.github/workflows/test-nodejs.yml"
  pull_request:
    branches: "main"
    paths:
      - .gitignore
      - LICENSE
      - README.md
      - "!.github/workflows/test-nodejs.yml"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true
jobs:
  test-nodejs:
    strategy:
      matrix:
        node-version: ["16", "18", "20"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run test:node
